* text=auto

*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.tex text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
